*/config/development
*/config/database.php
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#/vendor/
application/config/database.php
directory/
assets/images/directory/checksheet/*
/vendor/
composer.lock